@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}

.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    /* -webkit-align-items: center; */
    -ms-flex-align: center;
    /* align-items: center; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}

.header .header-content {
    margin-top: 150px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 700px;
}

.header .header-content .header-title {
    font-size: calc(15px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 500;
    color: #444;
    margin-bottom: 5px;
    position: relative;
    display: block;
}

.header .header-content .header-subtitle {
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    opacity: .8;
    margin-top: -10px;
    margin-bottom: 20px;
}

.card {
    max-width: 600px;
    margin: 50px auto;
    width: 580px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

input[type="checkbox"] {
    margin: 20px;
    cursor: pointer;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: rgb(133, 8, 18);
}

input[type="text"] {
    font-family: "Prompt", sans-serif;
    text-align: center;
    height: 50px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #212529;
}

button {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
}

.btn-delete {
    min-height: 25px;
    width: 25px;
    font-size: 20px;
    background-color: #ADADB3fb;
}

p {
    text-align: left;
    width: 85%;
    font-size: 20px;
}